// Specific CSS for your home-page
.intro_top {
  display: grid;
  justify-content: center;
  padding: 15px;

  .img-intro {
    @media screen and (max-width: 540px)  {
      // margin-bottom: 5px;
      width: 180px;
      height: 200px;
    }
    @media screen and (min-width: 541px) {
      width: 280px;
      height: 330px;
      margin-bottom: 50px;
    }

    background-image: url("https://res.cloudinary.com/bensoucdev/image/upload/v1653994187/cineclub/img/back_home_pxvf63.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .connect_form {
    background-color: black;
    color: white !important;
    margin-top: 450px;
    text-align: center;
  }
  .input_field {
    margin: 0 auto;
    max-width: 300px;
    height: 35px;
    font-size: 16px;
    border-radius: 15px;
    color: gray;
  }
  .form-actions,
  .form-inputs {
    text-align: center !important;
  }

  .form-check {
    color: bisque;
    font-size: 20px !important;
    display: flex !important;
    justify-content: center;
    padding: 20px;
    label {
      margin-left: 20px;
    }
  }
  .submit-btn {
    color: red;
    background-color: bisque;
    border-radius: 15px;
    padding: 8px 14px;
    font-size: 20px;

  }
}
.mentions {
  border-top: thin solid bisque;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: bisque;
  text-align: center;
  h2{
    @media screen and (max-width: 541px) {

      font-size: 6vw !important;
    }
  }

}
