.choices {
  display: grid;
  margin: 0 auto;
  gap: 60px;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 600px) and (max-width: 1080px) {
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
  @media screen and (min-width: 1081px) {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
  }
}

.cardandoanwer {
  max-width: 232px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.movie-detailed-card {
  margin: 30px auto 0 auto;

  color: whitesmoke;
  max-width: 232px;
  height: 280px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  .details {
    display: flex;
    // align-items: baseline;
    justify-content: space-between;
  }
  h2,
  h6 {
    text-decoration: none;
    color: rgb(87, 62, 10);
    font-family: $bomba;
  }
  a {
    text-decoration: none;
  }
  &:hover {
    transition: 0.3s;
    transform: scale(1.05);
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 0 5px 60px;

    i {
      font-size: 60px;
      position: relative;
      left: -78px;
      bottom: 75px;
    }
    .empty {
      height: 60px;
      width: 60px;
    }
    a {
      text-decoration: none;
    }
  }

  .event-poster {
    img {
      height: 280px;
      border-radius: 0 15px 15px 0;
      margin-left: -100px;
    }
  }
  .vote-logo {
    position: relative;
    left: -19px;
    bottom: 91px;
    height: 50px;
    width: 50px;
    i {
      color: #ddac25;

      text-align: center;
      font-size: 60px;
      font-weight: 1000;
    }
  }
  a.trailer_url {
    color: #ddac25;
    font-family: $bomba;
  }
}

.vote-score {
  font-family: $bomba;
  color: red;
  font-size: 70px;
  position: relative;
  left: 178px;
  bottom: 350px;
  height: 50px;
  width: 50px;
}

.unvote-logo {
  position: relative;
  left: 178px;
  bottom: 191px;
  height: 50px;
  width: 50px;
  i {
    color: #ddac25;

    text-align: center;
    font-size: 60px;
    font-weight: 1000;
  }
}

.choice-owner {
  width: 167px;
  height: 33px;
  padding-top: 10px;
  margin: 0 auto;
  padding-bottom: 18px;
  border-bottom: thin solid white;
  border-right: thin solid white;
  border-left: thin solid white;
  border-radius: 0 0 15px 15px;
  background-color: white;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
  .owner-name {
    margin: 9px 0 0 0;
    font-size: 2vh;
    color: #ddac25;
    font-weight: bolder;
    text-align: center;
    i {
      color: #ffc65ac7;

      font-size: 2.5vh;
    }
  }
}
// search css
.search-bar {
  margin: 20px auto 60px;
  // padding: 0 !important;
  max-width: 230px;

  .btn {
    i {
      margin-top: 3px;
      font-size: 25px;
    }
  }
  input {
    border-radius: 5px 15px 15px 5px;
  }

  .search-form-control {
    position: relative;
    margin-bottom: 25px;
    margin-top: 20px;
  }

  .search-form-control .btn {
    position: absolute;
    top: 0px;
    /* bottom: 53px; */
    @media screen and (max-width: 600px) {
      right: -4px;
    }
    @media screen and (min-width: 600px) {
      right: -21px;
    }

    background-color: red !important;
    color: black;
    padding: 10px;
    height: 3.5rem;
    border-radius: 0 15px 15px 0;
  }

  .search-form-control .form-control {
    height: 3.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #e7e7e7;
  }

  .search-form-control .form-control:focus {
    border: 1px solid #1edd88;
    outline: none !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  }
}
//  search result display
.noresult {
  text-align: center;
  width: 200px;
  color: #ddac25;
}
